
#modal-background{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .10;
    -webkit-opacity: .1;
    -moz-opacity: .1;
    filter: alpha(opacity=10);
    z-index: 1000;
}


.modal-dialog{
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 #222;
}

.modal-content{
    border-radius: 2px !important;
}



/***BOOTSTRAP****/
.btn{
    border-radius:0px !important;
}

.input-group-addon{
    border-radius:0px !important;	
}

.panel{
}

.tooltip-inner{
 border-radius:0px !important;
 padding:10px !important;
 padding-top:5px !important;
 padding-bottom:5px !important;
 font-family: 'Roboto', sans-serif !important;
 font-weight: 300 !important;
 font-size:14px !important;
 color:#b0b0b0 !important;
}
/********/

.highlight, .highlight tspan, .close{
    color: #4285F4 !important;
}
text.highlight tspan{
    fill: #80CBC4 !important;
}

.blackgradient{
  background:none repeat scroll 0 0 #303030;
}


.panetitle {
  position: fixed;
  height: 30px;
  width: 200px;
  top:100px;
  border-bottom: 1px solid #222222;
  border-top: 1px solid #111111;
  font-weight: 500;
  font-size: 12px;
  padding-top: 5px;
  letter-spacing: 5px;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px -2px #101010;
  -moz-box-shadow: 0 2px 2px -2px #101010;
  box-shadow: 0 2px 2px -2px #101010;
}


body{
 overflow:hidden;
 font-family:  'Roboto', sans-serif !important;
 font-weight: 300;
}

#splash {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  color: #fff;
  background: #ffffff;
  width: 450px;
  height: 300px;
  margin: -150px 0 0 -300px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 21px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow:    5px 5px 21px 0px rgba(50, 50, 50, 0.45);
  box-shadow:         5px 5px 21px 0px rgba(50, 50, 50, 0.45);
  background-image: url(../images/splash.png);
}

#splash div {
 font-family:  'Roboto', sans-serif ;
 position:absolute;
 width: 450px;
 padding-top: 220px;
 color: #31c3c7 !important;
}

#test_code{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:10000;
    overflow:scroll;
}

#test_canvas{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:white;
	z-index:10000;
}
#test_close{
	position:fixed;
	right:10px;
	top:10px;
	width:32px;
	height:32px;
	border:1px solid #f0f0f0;
	z-index:10000;
	cursor:pointer;
}

input{
 background: none repeat scroll 0 0 #f8f8f8;
 border-color: #C6C6C6 #DADADA #EAEAEA;
 border-radius: 4px 4px 4px 4px;
 -moz-box-sizing: border-box;
 padding-left:7px;
 border-style: solid ;
 border-width: 1px;
 vertical-align: middle;
 height:25px;
 font-size:14px;
 line-height:25px;
}


#canvas {
 padding:0px;
 margin:0px;
 border:0px;
position: absolute;
top: 100px;
right: 200px;
left: 200px;
bottom: 0px;
overflow: scroll;
background-color:#FFFFFF;
}

#canvas_zoom{
position: fixed;
bottom: 20px;
right: 220px;
background-color:transparent;
}

#canvas_zoom button {
 background-color:transparent;
 font-weight:300;
 padding:5px;
 padding-left:10px;
 padding-right:10px;
 border:1px solid transparent;
}

#canvas_config{
 position: fixed;
 font-size:20px;
 top:105px;
 left:205px;
 cursor:pointer;
}

#canvas_config_items{
 position: fixed;
 top:105px;
 left:205px;
 cursor:pointer;
 padding:10px;
 white-space:nowrap;
 min-width:250px;
}

#canvas_ruler_top{
   border: 1px solid #000000;
   height: 20px;
   left: 200px;
   position: fixed;
   top: 100px;
   width: 100%;
}

#layer{
 padding:0px;
 margin:0px;
 border:0px;
 position:absolute;
 top:100px;
 left:0px;
 bottom:0px;
 width:200px;
 background-color : #1E1E26;
 text-align: center;
}

#layer_elements{
 padding:0px;
 margin:0px;
 border:0px;
 position:fixed;
 top:130px;
 left:0px;
 bottom:0px;
 width:200px;
 overflow:auto;
}

#toolbar{
 margin:0px;
 padding-top:10px;
 padding-right:10px;
 top:0px;
 left:0px;
 height:100px;
 width:100%;
 overflow: visible !important;
 z-index:1000 !important;
 background-color: #EEEEEE !important;
 background-image: none;
}

.toolbarGroup{
  background-image:none !important;
  background-color: transparent !important;
  border: none  !important;    
  margin-top:20px;
}


#currentTool_container{
 margin:0px;    
 margin-top:10px;
 margin-left:10px;
 position:absolute;
 width: 500px;
}

#currentTool_heading{
 width:300px;   
 font-family:  'Roboto', sans-serif ;
 font-weight:500;
 color:#4285F4;
}

#currentTool_image{
  border-right: 1px solid gray; 
}

#currentTool_message{
 font-size:12px;
 color:#404040;    
 font-family:  'Roboto', sans-serif ;
 font-weight:400;
 letter-spacing: 0.1em;
}


.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;        // Make inputs at least the height of their button counterpart
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}

#toolbar .btn:focus,
#toolbar .btn-default,
#toolbar .btn-group,
#toolbar .btn {
  padding:4px;
  background-image: none;
  background-color: transparent;
  border:1px solid transparent;
  box-shadow:none;
}


#canvas_zoom button:hover ,
#toolbar .btn:hover{
  border:1px solid #4285f4  !important;	
}


#toolbar .btn.active {
  border:1px solid #4285f4 !important; 
  border-radius:1px;
}

#filter {
 position:absolute;
 top:100px;
 right:0px;
 bottom:0px;
 width:200px;

 padding:0px;
 margin:0px;
 border-radius:0px;
 border:0px;
 background-color : #1E1E26;
 background-image:none;
}

#filter .panel-default {
margin: 0px;
border-radius: 0px;
margin: 0px;
border-radius: 0px;
background-color: #26262F;
border: 0px;
border-top: 1px solid #303030;
border-bottom: 1px solid #202525;
}

#filter_toolbar{
 overflow:visible;
 border:0px;
 padding:3px;
 padding-left:10px;
 position:absolute;
 bottom:0px;
 right:0px;
 width:200px;
 height:30px;
}

.filter-heading{
  color: #DDDDDD !important;
  font-size: 12px;
  padding-right:10px !important;
  padding-top:1px !important;
  padding-bottom:0px !important;
  background-color: transparent !important;
  background-image: none !important;
  border: 0px !important;
}

#filter_actions{
 position:fixed;
 top:130px;
 bottom:30px;
 width:200px;
 border:0;
 padding:0;
 overflow-y: auto;
}


#filter_actions .panel-body{
  padding:7px !important;
}

#filter_actions > .panel{
  margin-bottom: 8px;
  border-left: 3px solid #26B4A8;
}

#filter_actions .form-group{
  margin-bottom: 2px !important;
}

#filter_actions .glyphicon {
    top: -5px;
    color: #26B4A8;
}

#filter_actions .form-group > .input-group{
   margin-bottom: 10px;
}

#filter_actions .form-group > .input-group:last-child{
   margin-bottom: 0px;
}


.control-label{
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
}

.toolbar_union{
 background-image: url(../icons/toolbar_union.png) !important;
 background-repeat:no-repeat;
 background-position:3px !important;
 width:55px;
 height:48px;
}

.toolbar_difference{
 background-image: url(../icons/toolbar_difference.png) !important;
 background-repeat:no-repeat;
 background-position:3px !important;
 width:55px;
 height:48px;
}
   
.toolbar_intersect{
 background-image: url(../icons/toolbar_intersect.png) !important;
 background-repeat:no-repeat;
 background-position:2px !important;
 width:55px;
 height:48px;
}
   

/******************************************************************
 * Einstellungen der PropertyViews im Editmodus der "Form".
 ******************************************************************/

.toolbar_delimiter {
  margin-left:10px;
}


.tool_rectangle{
 background : transparent url(../icons/rectangle.png) no-repeat;
}
.tool_triangle{
 background : transparent url(../icons/triangle.png) no-repeat;
}

.palette_node_element{
 width:48px;
 height:48px;
 cursor:move;
 margin: 10px auto 10px auto;
 align:center;
}

.layerElement{
	color: #dddddd;
	cursor: move;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 4px 4px 4px 20px;
	text-align: left;
}

.layerElement img{
    cursor:pointer;
    padding-top:4px;
    padding-right:4px;
}

.layerSelectedElement{
  color:white;    
  padding:4px;
  padding-left:20px;
  background: #4285f4;
}



.shadow {
 -moz-box-shadow: 3px 3px 4px #000;
 -webkit-box-shadow: 3px 3px 4px #000;
 box-shadow: 3px 3px 4px #000;
 /* For IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
 /* For IE 5.5 - 7 */
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


#githubButton{
    color:white;
    background-color:#24c85b !important;
    border:1px solid #4285f4  !important;
}

.ui-anglepicker {
    width: 52px;
    height: 52px;

    background: #dbdbdb;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2UxZTFkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #dbdbdb 0%, #e1e1de 20%, #f8f8f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(20%,#e1e1de), color-stop(100%,#f8f8f3));
    background: -webkit-linear-gradient(top, #dbdbdb 0%,#e1e1de 20%,#f8f8f3 100%);
    background: -o-linear-gradient(top, #dbdbdb 0%,#e1e1de 20%,#f8f8f3 100%);
    background: -ms-linear-gradient(top, #dbdbdb 0%,#e1e1de 20%,#f8f8f3 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%,#e1e1de 20%,#f8f8f3 100%);
    
    border: 2px solid #666;

    -moz-box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    -webkit-box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.ui-anglepicker-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;

    margin: -2px 0 0 -2px;
    -moz-transform-origin: 2px 2px;
    -webkit-transform-origin: 2px 2px;
    -ms-transform-origin: 2px 2px;
    -o-transform-origin: 2px 2px;
    transform-origin: 2px 2px;
}

.ui-anglepicker:hover, .ui-anglepicker.ui-anglepicker-dragging {
    border-color: #494949;
}

.ui-anglepicker-dragging .ui-anglepicker-dot, .ui-anglepicker-dragging .ui-anglepicker-line,
.ui-anglepicker:hover .ui-anglepicker-dot, .ui-anglepicker:hover .ui-anglepicker-line {
    background: #494949;
}

.ui-anglepicker-dot {
    height: 4px;
    width: 4px;
    position: absolute;
    background: #838383;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ui-anglepicker-line {
    margin-top: 1.5px;
    margin-right: -2px;
    height: 1px;
    background: #838383;
}​

/*
 *  Bootstrap TouchSpin - v3.1.1
 *  A mobile and touch friendly input spinner component for Bootstrap 3.
 *  http://www.virtuosoft.eu/code/bootstrap-touchspin/
 *
 *  Made by István Ujj-Mészáros
 *  Under Apache License v2.0 License
 */

.bootstrap-touchspin .input-group-btn-vertical{position:relative;white-space:nowrap;width:1%;vertical-align:middle;display:table-cell}.bootstrap-touchspin .input-group-btn-vertical>.btn{display:block;float:none;width:100%;max-width:100%;padding:8px 10px;margin-left:-1px;position:relative}.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up{border-radius:0;border-top-right-radius:4px}.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down{margin-top:-2px;border-radius:0;border-bottom-right-radius:4px}.bootstrap-touchspin .input-group-btn-vertical i{position:absolute;top:3px;left:5px;font-size:9px;font-weight:400}
/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}